name = "LinearInterpolations"
uuid = "b20c7882-2490-4592-a606-fbbfe9e745e8"
authors = ["Jan Weidner <jw3126@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
